@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* En tu archivo Style.css o en un archivo separado para estilos */
.feature {
  background-color: #fff; /* Color de fondo de la tarjeta */
  border: 1px solid #ccc; /* Borde de la tarjeta */
  border-radius: 8px; /* Borde redondeado */
  padding: 15px; /* Reducimos el padding para hacer la tarjeta más pequeña */
  margin: 10px; /* Espacio entre las tarjetas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
  transition: transform 0.2s; /* Transición al hacer clic */
  cursor: pointer;
  color: #000; /* Color del texto en negro */
}

/* Estilos de cursor al pasar el mouse sobre la tarjeta */
.feature:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
}

/* Títulos y texto en la tarjeta */
.feature h2 {
  font-size: 1.2rem; /* Reducimos el tamaño de fuente del título */
  margin: 10px 0;
}

.feature p {
  font-size: 1rem; /* Reducimos el tamaño de fuente del texto */
}


.hero {
  background-color: #0077B5; /* Color de fondo del héroe */
  color: #fff; /* Color de texto en el héroe */
  padding: 50px;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin: 10px 0;
}

.hero p {
  font-size: 1.2rem;
}

/* En el archivo Header.module.css */
.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}

.feature {
  text-align: center;
}

.feature h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.feature p {
  font-size: 1.1rem;
}
